/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/roboto/roboto.eot');
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto/roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto/roboto.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto/roboto.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto/roboto.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto/roboto.svg#Roboto') format('svg');
    /* Legacy iOS */
}


/* noto-sans-regular - latin-ext_latin_cyrillic-ext_cyrillic */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/noto-sans-regular.eot');
    /* IE9 Compat Modes */
    src: local('Noto Sans'), local('NotoSans'), url('../fonts/noto-sans/noto-sans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/noto-sans/noto-sans-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/noto-sans/noto-sans-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/noto-sans/noto-sans-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/noto-sans/noto-sans-regular.svg#NotoSans') format('svg');
    /* Legacy iOS */
}


/* noto-sans-700 - latin-ext_latin_cyrillic-ext_cyrillic */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/noto-sans-700.eot');
    /* IE9 Compat Modes */
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('../fonts/noto-sans-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/noto-sans-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/noto-sans-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/noto-sans-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/noto-sans-700.svg#NotoSans') format('svg');
    /* Legacy iOS */
}

@import url("//hello.myfonts.net/count/3ce04c");
@font-face {
    font-family: 'GalanoGrotesque-Bold';
    font-display: swap;
    src: url('../fonts/GalanoGrotesque-Bold/font.woff2') format('woff2'), url('../fonts/GalanoGrotesque-Bold/font.woff') format('woff');
}

@font-face {
    font-family: 'GalanoGrotesque-Medium';
    font-display: swap;
    src: url('../fonts/GalanoGrotesque-Medium/font.woff2') format('woff2'), url('../fonts/GalanoGrotesque-Medium/font.woff') format('woff');
}

@font-face {
    font-family: 'GalanoGrotesque-Regular';
    font-display: swap;
    src: url('../fonts/GalanoGrotesque-Regular/font.woff2') format('woff2'), url('../fonts/GalanoGrotesque-Regular/font.woff') format('woff');
}

.header-active {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.galano-medium {
    font-family: 'GalanoGrotesque-Medium';
}

.noto-serif {
    font-family: 'Noto Serif';
}

.roboto {
    font-family: 'Roboto';
}

.background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .background {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        padding: 4rem 0;
        color: #000;
        min-height: 70vh;
        min-height: initial;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.nilex-section {
    background-image: url('../images/nilex-cover.jpg');    
}

.telekom-section {
    background-image: url('../images/telekom-cover.jpg');
}

.yoga-section {
    background-image: url('../images/yoga-cover.jpg');
}
.note-section {
    background-image: url('../images/note-cover.jpg');
}

.client-section {
    background-position: 0px 0px;
	animation: animatedBackground 10s linear infinite;
	-moz-animation: animatedBackground 10s linear infinite;
	-webkit-animation: animatedBackground 10s linear infinite;
	-ms-animation: animatedBackground 10s linear infinite;
	-o-animation: animatedBackground 10s linear infinite;
    background-image: url('../images/clients-cover.jpg');
}

.home-btns:hover .svg-icon {
    transform: translateX(5px);
}

.svg-icon {
    width: 19px;
    height: 19px;
    fill: #fff;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 22px;
    transition: transform ease 0.2s;
}

.wavy-link:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 10px;
    background-repeat: repeat-x;
}

.site-footer__logo {
    border: 0.625rem solid white;
    width: 3.6875rem;
    height: 3.5625rem;
    margin-right: 1rem;
}

.svg-icon__footer {
    fill: #808080;
    transition: fill 0.2s;
}

.svg-icon-facebook {
    width: 0.5rem;
    height: 1rem;
}

.svg-icon-twitter {
    width: 1.0625rem;
    height: 0.8125rem;
}

.svg-icon-instagram {
    width: 1rem;
    height: 1rem;
}


@keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
/* End Fonts */

/* ! tailwindcss v2.1.2 | MIT License | https://tailwindcss.com */

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

:root {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

*{
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

body {
        font-family: 'GalanoGrotesque-Bold';
    }

p {
        font-family: 'Noto Serif';
    }
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.mt-\[5px\]{
    margin-top: 5px;
}
.mt-\[-1px\]{
    margin-top: -1px;
}
.ml-\[17px\]{
    margin-left: 17px;
}
.ml-\[812px\]{
    margin-left: 812px;
}
.ml-\[20px\]{
    margin-left: 20px;
}
.ml-\[30px\]{
    margin-left: 30px;
}
.mt-\[30px\]{
    margin-top: 30px;
}
.mt-\[37px\]{
    margin-top: 37px;
}
.mt-\[139px\]{
    margin-top: 139px;
}
.ml-\[8px\]{
    margin-left: 8px;
}
.mt-\[35px\]{
    margin-top: 35px;
}
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.h-\[90px\]{
    height: 90px;
}
.w-\[1170px\]{
    width: 1170px;
}
.w-\[246px\]{
    width: 246px;
}
.w-\[330px\]{
    width: 330px;
}
.w-\[275px\]{
    width: 275px;
}
.w-\[380px\]{
    width: 380px;
}
.max-w-\[450px\]{
    max-width: 450px;
}
.cursor-pointer{
    cursor: pointer;
}
.grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.flex-row{
    flex-direction: row;
}
.flex-col{
    flex-direction: column;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}
.space-x-\[42px\] > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(42px * var(--tw-space-x-reverse));
    margin-left: calc(42px * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-\[17px\] > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(17px * var(--tw-space-x-reverse));
    margin-left: calc(17px * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-\[4px\] > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(4px * var(--tw-space-x-reverse));
    margin-left: calc(4px * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-\[28px\] > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(28px * var(--tw-space-x-reverse));
    margin-left: calc(28px * calc(1 - var(--tw-space-x-reverse)));
}
.border-b-\[12px\]{
    border-bottom-width: 12px;
}
.border-white{
    --tw-border-opacity: 1;
    border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.bg-black{
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
.bg-\[\#0D8A6D\]{
    --tw-bg-opacity: 1;
    background-color: rgba(13, 138, 109, var(--tw-bg-opacity));
}
.bg-\[\#279FAF\]{
    --tw-bg-opacity: 1;
    background-color: rgba(39, 159, 175, var(--tw-bg-opacity));
}
.bg-\[\#9ACECF\]{
    --tw-bg-opacity: 1;
    background-color: rgba(154, 206, 207, var(--tw-bg-opacity));
}
.bg-\[\#F9F9F9\]{
    --tw-bg-opacity: 1;
    background-color: rgba(249, 249, 249, var(--tw-bg-opacity));
}
.bg-\[\#CE9A64\]{
    --tw-bg-opacity: 1;
    background-color: rgba(206, 154, 100, var(--tw-bg-opacity));
}
.px-\[15px\]{
    padding-left: 15px;
    padding-right: 15px;
}
.px-\[30px\]{
    padding-left: 30px;
    padding-right: 30px;
}
.pt-\[32px\]{
    padding-top: 32px;
}
.pt-\[140px\]{
    padding-top: 140px;
}
.pb-\[42px\]{
    padding-bottom: 42px;
}
.pb-\[157px\]{
    padding-bottom: 157px;
}
.pb-\[60px\]{
    padding-bottom: 60px;
}
.pb-\[6px\]{
    padding-bottom: 6px;
}
.pb-\[20px\]{
    padding-bottom: 20px;
}
.pt-\[14px\]{
    padding-top: 14px;
}
.pb-\[13px\]{
    padding-bottom: 13px;
}
.pb-\[72px\]{
    padding-bottom: 72px;
}
.pb-\[25px\]{
    padding-bottom: 25px;
}
.pb-\[33px\]{
    padding-bottom: 33px;
}
.pt-\[61px\]{
    padding-top: 61px;
}
.pt-\[60px\]{
    padding-top: 60px;
}
.pb-\[30px\]{
    padding-bottom: 30px;
}
.pb-\[40px\]{
    padding-bottom: 40px;
}
.pl-\[40px\]{
    padding-left: 40px;
}
.pt-\[17px\]{
    padding-top: 17px;
}
.pb-\[36px\]{
    padding-bottom: 36px;
}
.pb-\[32px\]{
    padding-bottom: 32px;
}
.pt-\[63px\]{
    padding-top: 63px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-\[12px\]{
    font-size: 12px;
}
.text-\[13px\]{
    font-size: 13px;
}
.text-\[80px\]{
    font-size: 80px;
}
.text-\[24px\]{
    font-size: 24px;
}
.text-\[21px\]{
    font-size: 21px;
}
.text-\[48px\]{
    font-size: 48px;
}
.text-\[20px\]{
    font-size: 20px;
}
.text-\[14px\]{
    font-size: 14px;
}
.text-\[50px\]{
    font-size: 50px;
}
.text-\[42px\]{
    font-size: 42px;
}
.text-\[16px\]{
    font-size: 16px;
}
.text-\[47px\]{
    font-size: 47px;
}
.text-\[124px\]{
    font-size: 124px;
}
.text-\[11px\]{
    font-size: 11px;
}
.font-bold{
    font-weight: 700;
}
.uppercase{
    text-transform: uppercase;
}
.italic{
    font-style: italic;
}
.leading-\[12px\]{
    line-height: 12px;
}
.leading-\[97px\]{
    line-height: 97px;
}
.leading-\[72px\]{
    line-height: 72px;
}
.leading-\[47px\]{
    line-height: 47px;
}
.leading-\[49px\]{
    line-height: 49px;
}
.leading-\[94px\]{
    line-height: 94px;
}
.tracking-\[1\.9px\]{
    letter-spacing: 1.9px;
}
.tracking-\[2px\]{
    letter-spacing: 2px;
}
.text-white{
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-\[\#ce9a64\]{
    --tw-text-opacity: 1;
    color: rgba(206, 154, 100, var(--tw-text-opacity));
}
.text-\[\#CE9A64\]{
    --tw-text-opacity: 1;
    color: rgba(206, 154, 100, var(--tw-text-opacity));
}
.text-\[\#5c5c5c\]{
    --tw-text-opacity: 1;
    color: rgba(92, 92, 92, var(--tw-text-opacity));
}
.text-\[\#656b6f\]{
    --tw-text-opacity: 1;
    color: rgba(101, 107, 111, var(--tw-text-opacity));
}
.underline{
    text-decoration: underline;
}
.hover\:underline:hover{
    text-decoration: underline;
}
.hover\:no-underline:hover{
    text-decoration: none;
}
@media (min-width: 768px) and (max-width: 991px){
    .md\:mx-auto{
        margin-left: auto;
        margin-right: auto;
    }
    .md\:mb-\[64px\]{
        margin-bottom: 64px;
    }
    .md\:ml-\[393px\]{
        margin-left: 393px;
    }
    .md\:ml-\[468px\]{
        margin-left: 468px;
    }
    .md\:mt-\[30px\]{
        margin-top: 30px;
    }
    .md\:ml-0{
        margin-left: 0px;
    }
    .md\:mt-\[108px\]{
        margin-top: 108px;
    }
    .md\:mt-\[17px\]{
        margin-top: 17px;
    }
    .md\:mt-\[50px\]{
        margin-top: 50px;
    }
    .md\:inline-block{
        display: inline-block;
    }
    .md\:hidden{
        display: none;
    }
    .md\:w-\[750px\]{
        width: 750px;
    }
    .md\:w-\[252px\]{
        width: 252px;
    }
    .md\:w-full{
        width: 100%;
    }
    .md\:w-\[392px\]{
        width: 392px;
    }
    .md\:grid-cols-1{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .md\:border-b-\[4px\]{
        border-bottom-width: 4px;
    }
    .md\:pt-\[80px\]{
        padding-top: 80px;
    }
    .md\:pb-\[109px\]{
        padding-bottom: 109px;
    }
    .md\:pt-\[60px\]{
        padding-top: 60px;
    }
    .md\:pt-\[59px\]{
        padding-top: 59px;
    }
    .md\:pb-\[80px\]{
        padding-bottom: 80px;
    }
    .md\:text-\[48px\]{
        font-size: 48px;
    }
    .md\:text-\[21px\]{
        font-size: 21px;
    }
    .md\:text-\[40px\]{
        font-size: 40px;
    }
    .md\:text-\[16px\]{
        font-size: 16px;
    }
    .md\:text-\[18px\]{
        font-size: 18px;
    }
    .md\:text-\[32px\]{
        font-size: 32px;
    }
    .md\:text-\[30px\]{
        font-size: 30px;
    }
    .md\:text-\[42px\]{
        font-size: 42px;
    }
    .md\:leading-\[58px\]{
        line-height: 58px;
    }
    .md\:leading-\[54px\]{
        line-height: 54px;
    }
    .md\:leading-\[25px\]{
        line-height: 25px;
    }
    .md\:leading-\[30px\]{
        line-height: 30px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .lg\:ml-\[612px\]{
        margin-left: 612px;
    }
    .lg\:w-\[970px\]{
        width: 970px;
    }
    .lg\:w-\[800px\]{
        width: 800px;
    }
    .lg\:pb-0{
        padding-bottom: 0px;
    }
    .lg\:text-\[48px\]{
        font-size: 48px;
    }
    .lg\:text-\[19px\]{
        font-size: 19px;
    }
    .lg\:text-\[40px\]{
        font-size: 40px;
    }
    .lg\:text-\[32px\]{
        font-size: 32px;
    }
    .lg\:text-\[14px\]{
        font-size: 14px;
    }
    .lg\:leading-\[57px\]{
        line-height: 57px;
    }
    .lg\:leading-\[38px\]{
        line-height: 38px;
    }
}
@media (min-width: 1200px){
    .xl\:mb-\[192px\]{
        margin-bottom: 192px;
    }
    .xl\:mb-\[239px\]{
        margin-bottom: 239px;
    }
    .xl\:mb-\[69px\]{
        margin-bottom: 69px;
    }
    .xl\:mt-\[261px\]{
        margin-top: 261px;
    }
    .xl\:pt-\[211px\]{
        padding-top: 211px;
    }
    .xl\:pt-\[175px\]{
        padding-top: 175px;
    }
    .xl\:pt-\[234px\]{
        padding-top: 234px;
    }
    .xl\:pt-\[62px\]{
        padding-top: 62px;
    }
    .xl\:text-\[60px\]{
        font-size: 60px;
    }
}