/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/roboto/roboto.eot');
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto/roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto/roboto.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto/roboto.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto/roboto.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto/roboto.svg#Roboto') format('svg');
    /* Legacy iOS */
}


/* noto-sans-regular - latin-ext_latin_cyrillic-ext_cyrillic */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/noto-sans-regular.eot');
    /* IE9 Compat Modes */
    src: local('Noto Sans'), local('NotoSans'), url('../fonts/noto-sans/noto-sans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/noto-sans/noto-sans-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/noto-sans/noto-sans-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/noto-sans/noto-sans-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/noto-sans/noto-sans-regular.svg#NotoSans') format('svg');
    /* Legacy iOS */
}


/* noto-sans-700 - latin-ext_latin_cyrillic-ext_cyrillic */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/noto-sans-700.eot');
    /* IE9 Compat Modes */
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('../fonts/noto-sans-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/noto-sans-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/noto-sans-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/noto-sans-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/noto-sans-700.svg#NotoSans') format('svg');
    /* Legacy iOS */
}

@import url("//hello.myfonts.net/count/3ce04c");
@font-face {
    font-family: 'GalanoGrotesque-Bold';
    font-display: swap;
    src: url('../fonts/GalanoGrotesque-Bold/font.woff2') format('woff2'), url('../fonts/GalanoGrotesque-Bold/font.woff') format('woff');
}

@font-face {
    font-family: 'GalanoGrotesque-Medium';
    font-display: swap;
    src: url('../fonts/GalanoGrotesque-Medium/font.woff2') format('woff2'), url('../fonts/GalanoGrotesque-Medium/font.woff') format('woff');
}

@font-face {
    font-family: 'GalanoGrotesque-Regular';
    font-display: swap;
    src: url('../fonts/GalanoGrotesque-Regular/font.woff2') format('woff2'), url('../fonts/GalanoGrotesque-Regular/font.woff') format('woff');
}

.header-active {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.galano-medium {
    font-family: 'GalanoGrotesque-Medium';
}

.noto-serif {
    font-family: 'Noto Serif';
}

.roboto {
    font-family: 'Roboto';
}

.background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .background {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        padding: 4rem 0;
        color: #000;
        min-height: 70vh;
        min-height: initial;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.nilex-section {
    background-image: url('../images/nilex-cover.jpg');    
}

.telekom-section {
    background-image: url('../images/telekom-cover.jpg');
}

.yoga-section {
    background-image: url('../images/yoga-cover.jpg');
}
.note-section {
    background-image: url('../images/note-cover.jpg');
}

.client-section {
    background-position: 0px 0px;
	animation: animatedBackground 10s linear infinite;
	-moz-animation: animatedBackground 10s linear infinite;
	-webkit-animation: animatedBackground 10s linear infinite;
	-ms-animation: animatedBackground 10s linear infinite;
	-o-animation: animatedBackground 10s linear infinite;
    background-image: url('../images/clients-cover.jpg');
}

.home-btns:hover .svg-icon {
    transform: translateX(5px);
}

.svg-icon {
    width: 19px;
    height: 19px;
    fill: #fff;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 22px; 
    -webkit-transition: -webkit-transform ease 0.2s;
    transition: -webkit-transform ease 0.2s;
    transition: transform ease 0.2s;
    transition: transform ease 0.2s,-webkit-transform ease 0.2s;
}

.wavy-link:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 10px;
    background-repeat: repeat-x;
}

.site-footer__logo {
    border: 0.625rem solid white;
    width: 3.6875rem;
    height: 3.5625rem;
    margin-right: 1rem;
}

.svg-icon__footer {
    fill: #808080;
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
}

.svg-icon-facebook {
    width: 0.5rem;
    height: 1rem;
}

.svg-icon-twitter {
    width: 1.0625rem;
    height: 0.8125rem;
}

.svg-icon-instagram {
    width: 1rem;
    height: 1rem;
}


@keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
@-moz-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
@-ms-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
@-o-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
/* End Fonts */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'GalanoGrotesque-Bold';
    }
    p {
        font-family: 'Noto Serif';
    }
}